packages:
  yum:
    elinks: []
    make: []
    python: []
    wget: []

container_commands:
  01_install_ez_setup:
    command: "wget https://bitbucket.org/pypa/setuptools/raw/bootstrap/ez_setup.py -O - | python"

  02_install_sphinx:
    command: "easy_install sphinx"

  03_install_sphinx_phpdomain:
    command: "easy_install sphinxcontrib-phpdomain"

  04_get_framework:
    command: "cd /var/app/ondeck/xylophone_framework/; wget https://github.com/andrew-s/xylophone/archive/master.zip"

  05_extract_zip:
    command: "unzip /var/app/ondeck/xylophone_framework/master.zip -d /var/app/ondeck/xylophone_framework/"

  06_install_cilexer:
    command: "cd  /var/app/ondeck/xylophone_framework/xylophone-master/user_guide_src/cilexer/; python setup.py install"

  07_compile_user_guide:
    command: "cd /var/app/ondeck/xylophone_framework/xylophone-master/user_guide_src; make html"

  08_move_html:
    command: "mv /var/app/ondeck/xylophone_framework/xylophone-master/user_guide_src/bin/html /var/app/ondeck/public/"

  09_rename_html:
    command: "cd /var/app/ondeck/public/; mv html user_guide"